@inherits LayoutComponentBase
<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="1" Style="background-color: black; color:white;">
        <MudLink Typo="Typo.h5" Href="#" Class="no-link-style">ONF</MudLink>

        <MudSpacer />

        <NavMenu />

        <MudSpacer />
    </MudAppBar>
    <MudMainContent>
        <div style="display:inline; justify-content:center; background-color: dimgrey;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<style>
    .no-link-style {
        color: inherit !important; /* Use parent color */
        text-decoration: none !important; /* Remove underline */
        cursor: pointer; /* Keep clickable */
    }

        .no-link-style:hover,
        .no-link-style:focus,
        .no-link-style:active {
            color: inherit !important;
            text-decoration: none !important;
        }
</style>